<a href="https://colab.research.google.com/github/Azay961/Data-Science-with-GenAI-Internship---Sep-2024_Innomatics/blob/main/Uber_Fare_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [91]:
df = pd.read_excel("/content/uber_rides_data.xlsx")
df.sample(5)

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
178136,27696054,8.5,2011-06-29 07:45:50 UTC,-73.987972,40.769956,-73.957325,40.782911,1
75061,7413952,16.1,2009-04-29 22:17:00 UTC,-74.007340,40.743260,-73.953710,40.770255,5
142127,7741226,10.1,2009-08-01 13:48:30 UTC,-73.975936,40.751400,-73.987045,40.748492,1
126443,29338757,15.3,2012-04-05 10:26:30 UTC,-73.989271,40.757604,-74.015329,40.710072,1
196146,44278625,6.5,2013-02-24 18:13:00 UTC,-73.979032,40.750142,-73.979280,40.761572,1

# 1. What is the shape of given dataset?

In [92]:
print("The Shape of dataset is ", df.shape)

The Shape of dataset is  (200000, 8)

# 2. How many integer columns(by default) are given in the dataset?

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [94]:
print("The total Integer columns(by default) are :", df.select_dtypes(include='int64').shape[1])

The total Integer columns(by default) are : 2

# 3. How many missing values exists in 'dropoff_longitude' column?

In [95]:
print("Total missing values in 'dropoff_longitude' column are :", df['dropoff_longitude'].isnull().sum())

Total missing values in 'dropoff_longitude' column are : 1

# 4. What is the data type of ' pickup_datetime' feature in your data?

In [96]:
print("Data Type of 'pickup_datetime' is :", df['pickup_datetime'].dtypes)

Data Type of 'pickup_datetime' is : object

# 5. Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

In [97]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['pickup_datetime'].dtypes

datetime64[ns, UTC]

# 6. Which function can be used to remove null values from the dataframe?

In [98]:
df.dropna()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1

In [99]:
df.isna().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

# 7. What is the average fare amount?

## Remove the null values from the dataframe to answer the following question.

In [100]:
df.dropna(inplace=True)
df.isna().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [101]:
df.describe()

,ride_id,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,1.999990e+05,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000
mean,2.771248e+07,11.359892,-72.527631,39.935881,-72.525292,39.923890,1.684543
std,1.601386e+07,9.901760,11.437815,7.720558,13.117408,6.794829,1.385995
min,1.000000e+00,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,1.382534e+07,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,2.774524e+07,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,4.155535e+07,12.500000,-73.967154,40.767158,-73.963658,40.768001,2.000000
max,5.542357e+07,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000

In [102]:
print("The Average fare amount is ", df["fare_amount"].mean())

The Average fare amount is  11.359891549457748

# 8. Calculate distance between each pickup and dropoff points using Haversine formula.
## What is the median haversine distance between pickup and dropoff location according to the given dataset?

## Read about Haversine Distance [here](https://en.wikipedia.org/wiki/Haversine_formula)

In [103]:
import math

def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371.0  # in kilometers
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    return R * c

df["haversine_distance"] = df.apply(lambda row: haversine_distance(row['pickup_latitude'],
                                                                   row['pickup_longitude'],
                                                                   row['dropoff_latitude'],
                                                                   row['dropoff_longitude']), axis=1)

median_distance = df["haversine_distance"].median()
print("Median Haversine Distance:", median_distance, "kilometers")

Median Haversine Distance: 2.120992396182902 kilometers

# 9. What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [104]:
print(f"Maximum Haversine Distance: {df['haversine_distance'].max():.2f} kilometers")

Maximum Haversine Distance: 16409.24 kilometers

 # 10. How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

In [105]:
print(f"Number of rides with 0.0 Haversine Distance: {len(df[df['haversine_distance'] == 0.0])}")

Number of rides with 0.0 Haversine Distance: 5632

# 11. What is the mean 'fare_amount' for rides with 0 haversine distance?

## Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook

In [106]:
df_distance_zero = df[df['haversine_distance'] == 0.0]
mean_fare_amount_distance_zero = df_distance_zero['fare_amount'].mean()

In [107]:
print(f"Mean 'fare_amount' for rides with 0 Haversine Distance: ${mean_fare_amount_distance_zero:.2f}")

Mean 'fare_amount' for rides with 0 Haversine Distance: $11.59

In [108]:
df_distance_zero.sample(5)

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine_distance
15131,27275711,10.9,2011-05-28 23:55:16+00:00,-73.989453,40.735379,-73.989453,40.735379,1,0.0
193633,5313090,4.5,2009-10-26 18:18:00+00:00,-73.982133,40.774548,-73.982133,40.774548,1,0.0
131592,3280824,6.1,2010-11-04 13:26:00+00:00,0.000000,0.000000,0.000000,0.000000,4,0.0
26688,41243494,5.3,2011-10-07 22:29:40+00:00,0.000000,0.000000,0.000000,0.000000,2,0.0
32586,7262335,7.3,2010-12-26 13:52:09+00:00,0.000000,0.000000,0.000000,0.000000,1,0.0

### observation

According to the dataset pickup and dropoff langittude and latitude are either same or zero. This shows that the rider either cancelled the ride or their is error in recording.

Hence the fare amount for zero Haversine Distance still applies as it may be the base/minimum fare or may be their error in recording the distance.

# 12. What is the maximum 'fare_amount' for a ride?

In [109]:
print("Maximum 'fare_amount' for a ride is ", df['fare_amount'].max())

Maximum 'fare_amount' for a ride is  499.0

# 13. What is the haversine distance between pickup and dropoff location for the costliest ride?

## Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

In [110]:
print("The haversine distance between pickup and dropoff location for the costliest ride is", df.loc[df['fare_amount'].idxmax(), 'haversine_distance'])

The haversine distance between pickup and dropoff location for the costliest ride is 0.0007899213191009993

In [111]:
costliest_ride = df.loc[df['fare_amount'].idxmax()]
costliest_ride

ride_id                                51151143
fare_amount                               499.0
pickup_datetime       2011-04-10 04:10:00+00:00
pickup_longitude                     -73.968377
pickup_latitude                       40.764602
dropoff_longitude                    -73.968368
dropoff_latitude                        40.7646
passenger_count                               1
haversine_distance                      0.00079
Name: 170081, dtype: object

# Observation
## From the data it is observed that the ride was canceled after moving certain distance and had to pay full fare amount even after cancelling.

# 14. How many rides were recorded in the year 2014?

In [112]:
df['pickup_year'] = df['pickup_datetime'].dt.year
rides_in_2014 = df[df['pickup_year'] == 2014]

In [113]:
print("Rides recorded in 2014 are: ", rides_in_2014.shape[0])

Rides recorded in 2014 are:  29968

In [114]:
# Alternatively
df_year = df.groupby('pickup_year')

df_2014 = df_year.get_group(2014)

print("Rides recorded in 2014 are: ", df_2014.shape[0])

Rides recorded in 2014 are:  29968

# 15. How many rides were recorded in the first quarter of 2014?

In [115]:
rides_in_2014['pickup_month'] = rides_in_2014['pickup_datetime'].dt.month

In [116]:
print("rides recorded in the first quarter of 2014 : ", rides_in_2014[rides_in_2014['pickup_month'].between(1, 3)].shape[0])

rides recorded in the first quarter of 2014 :  7687

# 16. On which day of the week in September 2010, maximum rides were recorded ?

In [117]:
df["pickup_month"] = df["pickup_datetime"].dt.month
df["pickup_day"] = df["pickup_datetime"].dt.day_name()
rides_in_2010 = df[df['pickup_year'] == 2010]

In [118]:
df_2010_september = rides_in_2010[rides_in_2010['pickup_month'] == 9]
df_2010_september['pickup_day'].value_counts()

pickup_day
Thursday     457
Wednesday    391
Saturday     362
Friday       354
Sunday       331
Tuesday      322
Monday       265
Name: count, dtype: int64

In [119]:
print("Maximum rides were recorded on ", df_2010_september['pickup_day'].value_counts().idxmax())

Maximum rides were recorded on  Thursday

# 17.Apply a Machine Learning Algorithm to predict the fare amount given following input features: passenger_count, distance and ride_week_day

Perform a 70-30 split of data.

Which algorithm gives the least adjusted R square value?

In [124]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import r2_score

In [125]:
X, y = df[['passenger_count', 'haversine_distance', 'pickup_year']], df['fare_amount']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# a. Linear Regression

In [127]:
linear_reg = LinearRegression()

linear_reg.fit(X_train, y_train)
y_pred_lr = linear_reg.predict(X_test)
r2_lr = r2_score(y_test, y_pred_lr)

print(f"Linear Regression R²: {r2_lr}")

Linear Regression R²: 0.0137687559555707

# b. Decision Tree Classifier

In [128]:
decision_tree_clf = DecisionTreeClassifier()

decision_tree_clf.fit(X_train, y_train.astype(int))  # y needs to be integers for classifier
y_pred_dt = decision_tree_clf.predict(X_test)
r2_dt = r2_score(y_test, y_pred_dt)

print(f"Decision Tree Classifier R²: {r2_dt}")

Decision Tree Classifier R²: 0.5019570434173641

# c.Random Forest Regression

In [129]:
random_forest_reg = RandomForestRegressor()

random_forest_reg.fit(X_train, y_train)
y_pred_rf = random_forest_reg.predict(X_test)
r2_rf = r2_score(y_test, y_pred_rf)

print(f"Random Forest Regression R²: {r2_rf}")

Random Forest Regression R²: 0.6413544338503205

# d. KNN Classifier

In [130]:
knn_clf = KNeighborsClassifier()

knn_clf.fit(X_train, y_train.astype(int))
y_pred_knn = knn_clf.predict(X_test)
r2_knn = r2_score(y_test, y_pred_knn)

print(f"KNN Classifier R²: {r2_knn}")

KNN Classifier R²: 0.5579993565141621